.favHeart{
    font-size: 30px;
    color: red;
}
.rankOn{
    font-size:30px;
    color:royalblue;
}
.editOn{
    font-size: 30px;
    color:darkgreen;
}
.thumbsIcon{
    font-size: 30px;
    color:cornflowerblue;
    padding-right: 20px;
}