<div ng-if="del.length > 0">
    <div ng-repeat="del_duanzi in del" class="alert alert-danger" style="margin-top: 10px;">
        <button type="button" class="close" ng-click="removeFromDel($index)">
            <span aria-hidden="true">&times;</span><span
                class="sr-only">Close</span></button>
        <div ng-bind-html="del_duanzi.body"></div>
    </div>
    <button class="btn btn-danger" ng-click="remove()">Delete</button>
</div>

<div>

</div>

<div class="input-group" style="margin-top: 10px;">
    <span class="input-group-addon">cheat Code</span>
    <input type="text" class="form-control" ng-model="cheatCode">
</div>
<div class="row" style="text-align: right;margin-top: 5px;">
    <div class="btn-group">
    </div>
</div>
<div ng-repeat="duanzi in duanzis| orderBy:predicate:reverse" class="well" style="margin-top: 10px;">
    <div ng-bind-html="duanzi.body">
    </div>
    <div style="text-align: right;padding-right: 20px;" class="row">
        <button ng-class="{disabled : thumbUpAvailable(duanzi._id) == false}" class="btn btn-link"
                ng-click="thumbup(duanzi._id)"><i
                class="fa fa-thumbs-o-up"></i>{{duanzi.thumbsup}}
        </button>
        <button class="btn btn-link" ng-class="{disabled:thumbDownAvailable(duanzi._id) == false}"
                ng-click="thumbdown(duanzi._id)"><i
                class="fa fa-thumbs-o-down"></i>{{duanzi.thumbsdown}}
        </button>
        <button type="button" class="btn btn-danger btn-xs" ng-click="removeFromDuanzis($index)">Del</button>
    </div>
</div>