<div ng-repeat="duanzi in duanzis| orderBy:predicate:reverse" class="well" style="margin-top: 10px;">
    <div ng-bind-html="duanzi.body">
    </div>
    <div style="text-align: right;padding-right: 20px;" class="row">
        <button ng-class="{disabled : thumbUpAvailable(duanzi._id) == false}" class="btn btn-link"
                ng-click="thumbup(duanzi._id)"><i
                class="fa fa-thumbs-o-up"></i>{{duanzi.thumbsup}}
        </button>
        <button class="btn btn-link" ng-class="{disabled:thumbDownAvailable(duanzi._id) == false}"
                ng-click="thumbdown(duanzi._id)"><i
                class="fa fa-thumbs-o-down"></i>{{duanzi.thumbsdown}}
        </button>
        <button class="btn btn-link" ng-init="hover = false" ng-if="favAvailable(duanzi._id)"
                ng-mouseenter="hover = true" ng-mouseleave="hover = false" ng-click="pushFav(duanzi._id)">
            <i class="fa" ng-class="{'fa-heart-o': !hover,'fa-heart':hover}"></i>
        </button>
        <button class="btn btn-link" ng-init="hover = false" ng-if="!favAvailable(duanzi._id)"
                ng-mouseenter="hover = true" ng-mouseleave="hover = false" ng-click="removeFromFav(duanzi._id)">
            <i class="fa" ng-class="{'fa-heart-o': hover,'fa-heart':!hover}"></i>
        </button>
    </div>
</div>
<div class="row" style="padding: 0 12px 0 12px;" ng-if="duanzis.length < count"><button type="button" class="btn btn-default btn-lg btn-block" ng-click="fetchDuanzis()">更多的段子</button></div>